@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: black;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav > img {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
}

nav > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  display: flex;
  column-gap: 2rem;
}

nav > div a:first-child {
  text-transform: capitalize;
}

nav > div a:not(:first-child) {
  text-transform: uppercase;
}

footer {
  background-color: black;
}

footer p {
  text-align: center;
  padding-top: 20px;
}

footer > hr {
  border: none;
  height: 0.08px;
  margin: 60px 20% 0 20%;
  background-color: white;
}

footer > p:last-child {
  padding-bottom: 20px;
}
