@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--navbar-color: white;
	--primary-color: #00A9FF;
	--secondary-color: #99FFFF;
	--yellow: #F4CE14;
	--block-color: #282B31;
	--onhover-color: #bebbad;
	--gray-color: #74868A;
}

.w-fc {
	width: fit-content;
}

.sh {
	height: 425px;
}

.pl-2 {
	padding-left: 2%;
}

.bg-b {
	background-color: black;
}

.bg-bc {
	background-color: var(--block-color);
}

.bg-yel {
	background-color: var(--yellow);
}

.bg-sec {
	background-color: var(--secondary-color);
}

.sec {
	color: var(--secondary-color);
}

.bg-main {
	background-color: var(--primary-color);
}

h1,
h6,
p,
a {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 600;
	margin: 0%;
	text-decoration: none;
}

.main {
	color: var(--primary-color);
}

.rb {
	border-radius: 24px;
}

.gi {
	filter: grayscale(1);
	transition: 0.3s;
}

.bt {
	color: black !important;
}

.yt {
	color: var(--yellow) !important;
}

.gt {
	color: var(--gray-color) !important;
}

.oh-fi:hover {
	opacity: 0.6;
	transition: .3s;
}

.oh-zoom {
	transition: transform .1s;
}

.oh-zoom:hover {
	transform: scale(1.05);
	filter: none;
}

.oh-zoom:hover .gi {
	filter: none;
}

.oh-zoom:hover .oh-wt {
	color: var(--onhover-color);
}

.oh-wt {
	transition: 0.3s;
}

.medium-font {
	font-size: 3.5vw;
}

/* Home Style */

.shadow {
	box-shadow: 0px 2px rgba(0, 0, 0, 0.267);
}

.sbk-style {
	bottom: 50px;
	padding-left: 15px;
	letter-spacing: 0.5px;
}

.grafiti-style {
	mix-blend-mode: luminosity;
}

@media only screen and (max-width: 991px) {
	.margin {
		margin-left: 0 !important;
	}

	.small-font {
		font-size: 2.5vw;
	}

	.large-font {
		font-size: 5vw;
	}

	.navbar-content {
		left: 0;
		position: unset;
	}
}

@media only screen and (min-width: 992px) {
	.margin {
		margin-left: 1vw !important;
	}

	.small-font {
		font-size: 2vw;
	}

	.large-font {
		font-size: 4.75vw;
	}

	.navbar-content {
		left: 35%;
		position: absolute;
	}
}

.g-1 {
	box-shadow: 0px -80px 200px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.g-2 {
	box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.behind {
	z-index: -1;
}

.about-us-style {
/*  Padding Top Right Bottom Left */
	padding: 5px 50px 5px 50px;
	margin: 0 10px 10px 0;
	transition: .3s;
	color: white;
}

.about-us-style:hover {
	background-color: var(--secondary-color);
	color: #353939;
}

.line {
	
}

/* Mikrotik Style */

.mikrotik-first-style {
	box-shadow: 0px -100px 150px 0px #9FF inset;
	margin-top: 56px;
	padding: 5vw;
}